.image-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* only add 10px horizontally. vertical gap is adde by grid-auto-row(10px) */
    grid-gap: 0 10px;
    /* height of the row - By setting smaller px, we can display pics without many gaps*/
    grid-auto-rows: 10px;
}

.image-list img {
    width: 250px;
    grid-row-end: span 2;
}